/* Creates a sticky footer */
.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 92.8%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.main-footer {
  margin: 2rem auto;
  flex-shrink: 0;
}
