.table-header {
  margin-bottom: -0.21rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  color: #7F56C5;
}

.table-heading {
  font-size: 1rem;
  font-weight: 400;
}

.table-heading:after {
  content: '|';
  padding: 0 0.38rem 0 0.42rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #BCBEC0;
}

.left, .right {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

.right {
  flex-basis: 16.3rem;
  justify-content: space-between;
}

.option-group {
  display: flex;
  align-items: baseline;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.015em;
}

.option-group.sort-by h2 {
  font-size: inherit;
}

.option-group.items-per-page h2 {
  font-size: inherit;
  font-weight: inherit;
}

.option-group.pagination h2{
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0;
}

.option-group.pagination span {
  font-weight: 400;
}

button {
  margin: 0 0.2rem;
  padding: 0;
  font-size: inherit;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  color: #1DAFE9;
  background: transparent;
}

button .fa-sort-down {
  margin-left: 0.15rem;
  font-size: 1.1rem;
}

.option-group.pagination button {
  margin: 0 0.29rem 0 0.71rem;
  /* Transform to match Font Awesome's "pro" chevron */
  transform: scale(2, 1);
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

tr {
  height: 1.882rem;
  font-size: 0.75rem;
}

thead tr {
  font-weight: 700;
  text-transform: capitalize;
  color: #292651;
  background: #CACBCE;
}

tbody tr {
  font-weight: 400;
  color: #808285;
}

th, td {
  min-width: 5rem;
  padding: 0 0.8rem;
  text-align: left;
}
