.table-header {
  margin-bottom: -0.21rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  color: #7F56C5;
}

.table-header-text {
  font-size: 1rem;
  font-weight: 400;
}

.table-header-text:after {
  content: '|';
  padding: 0 0.38rem 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #BCBEC0;
}

.left, .right {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}

.right {
  flex-basis: 16.3rem;
  justify-content: space-between;
}

.option-group.pagination h2 {
  min-width: 5.85rem;
  margin-right: 0.22rem;
  text-align: right;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0;
}

.option-group.pagination span {
  font-weight: 400;
}

.button-transparent .fa-sort-down {
  margin-left: 0.15rem;
  font-size: 1.1rem;
}

.option-group.pagination button {
  margin-left: 0.6rem;
  padding: 0.5rem 0.03rem;
  font-size: 0.92rem;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

tr {
  height: 1.884rem;
  font-size: 0.75rem;
}

th, td {
  min-width: 5rem;
  padding: 0.55rem 0.825rem;
  text-align: left;
}

.table-head-row {
  font-weight: 700;
  letter-spacing: 0.0196rem;
  text-transform: capitalize;
  color: #292651;
  background: #CACBCE;
}

.table-heading {
  cursor: pointer;
  transition: 0.3s;
}

.table-heading:active {
  background: rgba(188, 185, 192, 0.726);
  transition: none;
}

.table-heading.extra-wide {
  min-width: 10rem;
}

.table-body-row {
  font-weight: 400;
  color: #808285;
  background: #F7F7F7;
}

.table-body-row:nth-child(even) {
  background: #F0F0F0;
}
